<?xml version="1.0"?>
<robot name="monitor2">
    <link name="monitor2_link">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="./monitor2.obj" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" scale="1 1 1" />
            <geometry>
                <mesh filename="./monitor2.obj"/>
            </geometry>
        </collision>
    </link>
</robot>
